apiVersion: v1
kind: ResourceQuota
metadata:
  name: gitlab-quota
  namespace: gitlab
spec:
  hard:
    ## "500Mi"
    requests.memory: {{ gitlab_request_mem }}
    ## "3Gi" 
    limits.memory: {{ gitlab_limit_mem }}