apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: app-ingress
  namespace: {{ prod_namespace }}
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-{{ deploy_env }}"
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  ingressClassName: nginx
  tls:
  - hosts:
    - {{ ext_host_name }}
    secretName: tw-sigmanet-tls
  rules:
  - host: {{ ext_host_name }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{ ingress_backend_prod }}
            port:
              number: 80
      - path: /staging
        pathType: Prefix        
        backend:
          service:
            name: {{ ingress_backend_staging }}
            port:
              number: 80      
